<div class="personal-message">
  <h4 class="salutation">Hello
    <% if current_user == current_monarch %>
      <%=current_user.title%>
    <% end %>
    <%= "#{current_user.first_name}," %> </h4>

    <% if current_user == current_monarch %>
      <p class="compliment-or-call-to-action line-one">Yeah..that's right. YOU are ruling over the hill!</p>
      <p class="compliment-or-call-to-action line-two">You've conquered the throne with such virtuosity. So much royalty in you..</p>
    <% else %>
      <% if current_user.total_reign <=0 %>
      <p class="compliment-or-call-to-action line-one">Welcome to the Kingdom of the Hill!</p>
      <p class="compliment-or-call-to-action line-two">Hope you're enjoying the royal feeling...</p>
      <% else %>
      <p class="compliment-or-call-to-action line-one">Oh no! You are no longer ruling over the hill. You've been usurped by <strong><%="#{usurper.title} #{usurper.first_name}"%></strong>
        with the following weapon: <strong><%="#{deadly_weapon}"%></strong>.</p>
      <p class="compliment-or-call-to-action line-two">But the throne is warm and waiting for you to come back..</p>
      <% end %>
      <div class="action">
        <p class="compliment-or-call-to-action">Choose the <strong>weapon</strong> with which you want to conqueer the throne:</p>
        <div class="royal-form">
          <%= form_for [@reign] do |f| %>
            <%= f.text_field :weapon, required: true %>
            <br>
          <%=f.submit "Take over the throne", :class => "button take-over"%>
        </div>

      </div>
      <% end %>
    <% end %>

  <div class="user-stats">
    <% if current_user.total_reign >0 %>
    <p class="reign-wrap-up">In total, you have ruled <span class="highlight"><% reigns = Reign.where.not(finished: nil).where(user_id: current_user.id) %>
      <%= reigns.length %>
      times</span> over the hill, for a total duration of <span class="highlight"><%= humanize(current_user.total_reign) %></span>.</p>

    <ul class="ranking-list">Out of all <%=User.count %> monarchs, your global rank is:
      <li class="ranking"><%= "##{current_user.ranking_by_reign_number}"%> by number of reigns</li>
      <li class="ranking"><%= "##{current_user.ranking_by_duration}"%> by total reign duration</li>
    </ul>
  </div>
  <% end %>
</div>

<!-- <div class="sharing">
    <h3 class="h3-sharing">Sharing is ruling</h3>
    <%= social_share_button_tag("YEAH! I'm a monarch of the Kingdom of the Hill! #RulingOverTheHill") %>
</div> -->
