<div class="current-reign-decl">
  <h2 class="monarch-decl">
    <%= "#{current_monarch.title} #{current_monarch.first_name}" %>
  </h2>
  <h2 class="rule-decl">is ruling over the hill!</h2>
</div>

  <h3>Hello
    <% if current_user == current_monarch %>
      <%=current_user.title%>
    <% end %>
    <%= current_user.first_name %> </h3>

  <div class="monarch-greeting">
    <% if current_user == current_monarch %>
      <p>Yeah..that's right, YOU are ruling over the hill! So much royalty in you..</p>
    <% else %>
      <p>Sign out and Sign in again to return on the throne!</p>
    <% end %>

  </div>

  <div class="user-stats">
    <% if current_user.total_reign >0 %>
    <p>In total, you have ruled <% reigns = Reign.where.not(finished: nil).where(user_id: current_user.id) %>
      <%= reigns.length %>
      times over the hill, for a total duration of <%= humanize(current_user.total_reign) %>.</p>
    <% else %>
    <p> This is your first time as <%=current_user.title%> of the Hill. Congrats! Hope you're enjoying this royal feeling..
    </p>
    <% end %>
    <ul>Out of all <%=User.count %> monarchs, your global rank is:
      <li><%= current_user.ranking_by_reign_number%> by number of reigns</li>
      <li><%= current_user.ranking_by_duration%> by total reign duration</li>
    </ul>
  </div>

<div class="sharing-buttons">
    <%= social_share_button_tag("Being royal at the hill") %>
</div>
