<div class="personal-message">
  <h4 class="salutation">Hello
    <% if current_user == current_monarch %>
      <%=current_user.title%>
    <% end %>
    <%= "#{current_user.first_name}," %> </h4>

    <% if current_user == current_monarch %>
      <p class="compliment-or-call-to-action">Yeah..that's right. YOU are ruling over the hill! So much royalty in you..</p>
    <% else %>
      <p class="compliment-or-call-to-action">Oh no! You're no longer ruling over the hill. Sign out to ascend on the throne again! It's warm and waiting for you to come back..</p>
    <% end %>

  <div class="user-stats">
    <% if current_user.total_reign >0 %>
    <p class="reign-wrap-up">In total, you have ruled <span class="highlight"><% reigns = Reign.where.not(finished: nil).where(user_id: current_user.id) %>
      <%= reigns.length %>
      times</span> over the hill, for a total duration of <span class="highlight"><%= humanize(current_user.total_reign) %></span>.</p>
    <% else %>
    <p> This is your first time as <%=current_user.title%> of the Hill. Congrats! Hope you're enjoying this royal feeling..
    </p>
    <% end %>
    <ul class="ranking-list">Out of all <%=User.count %> monarchs, your global rank is:
      <li class="ranking"><%= "##{current_user.ranking_by_reign_number}"%> by number of reigns</li>
      <li class="ranking"><%= "##{current_user.ranking_by_duration}"%> by total reign duration</li>
    </ul>
  </div>
</div>

<div class="sharing-buttons">
    <%= social_share_button_tag("YEAH! I'm a monarch of the Kingdom of the Hill! #RulingOverTheHill") %>
</div>
