<h3>Hello
  <% if current_user == current_monarch %>
    <% if current_monarch.gender == 'male' %>
    King
    <% elsif current_monarch.gender == 'female' %>
    Queen
    <% else %>
    Monarch
    <% end %>
  <% end %>
  <%= current_user.first_name %> </h3>

  <div class="user-stats">
    <% if current_user.total_reign >0 %>
    <p>In total, you have ruled <% reigns = Reign.where.not(finished: nil).where(user_id: current_user.id) %>
      <%= reigns.length %>
      times over the hill, for a total duration of <%= humanize(current_user.total_reign) %>.</p>
    <% else %>
    <p> This is your first time as
      <% if current_user == current_monarch %>
        <% if current_monarch.gender == 'male' %>
        King
        <% elsif current_monarch.gender == 'female' %>
        Queen
        <% else %>
        Monarch
        <% end %>
      <% end %> of the Hill. Congrats! Hope you're enjoying this royal feeling..
    </p>
    <% end %>
    <p>Your global rank is: <%= current_user.ranking%>/<%=User.count%> </p>

  </div>

  <% if current_user == current_monarch %>
    <p>Currently, YOU are ruling over the hill! So much royalty in you..</p>
  <% else %>
    <p>Currently,
      <% if current_monarch.gender == 'male' %>
      King
      <% elsif current_monarch.gender == 'female' %>
      Queen
      <% else %>
      Monarch
      <% end %>
      <%= current_monarch.first_name%> is ruling over the hill..</p>

    <p>Sign out and Sign in again to return on the throne!</p>
  <% end %>
