<div class="monarch-container reign">
    <img class="top-monarch-picture reign-picture" src="<%=reign.user.picture%>" alt="picture of monarch" />
    <div class="rank-info">
      <div class="rank-top">
        <div class="top-index"><%="##{reign.id} - "%></div>
        <div class="top-name">
          <% if reign.user.gender == 'male' %>
          King
          <% elsif reign.user.gender == 'female' %>
          Queen
          <% else %>
          Monarch
          <% end %>
          <%= "#{reign.user.first_name}"%>
        </div>
      </div>
      <div class="rank-bottom">
        <div class="reign-duration">
          <% if reign.finished == nil %>
          <div class="current-reign-duration">
            still on
          </div>
          <%else%>
            <%="#{humanize(reign.duration)}"%>
          <% end %>
        </div>
        <div class="reign-weapon">
          <%="#{reign.weapon}"%>
        </div>
      </div>
    </div>
</div>
