<div class="monarch-container reign">
    <img class="top-monarch-picture reign-picture" src="<%=reign.user.picture%>" alt="picture of monarch" />
    <div class="rank-info">
      <div class="rank-top">
        <div class="top-index"><%="##{reign.id}"%></div>
        <div class="top-name">
          <% if reign.user.gender == 'male' %>
          King
          <% elsif reign.user.gender == 'female' %>
          Queen
          <% else %>
          Monarch
          <% end %>
          <%= "#{reign.user.first_name}"%>
        </div>
      </div>
      <div class="rank-bottom">
        <%="#{reign.weapon}"%><% unless reign.finished == nil %>
          <%="#{humanize(reign.duration)}"%>
        <% end %>
      </div>
    </div>
    <br>
</div>
