<div class="monarch-container reign">
    <img class="top-monarch-picture reign-picture" src="<%=reign.user.picture%>" alt="picture of monarch" />
    <div class="rank-info">
      <div class="rank-top">
        <div class="top-index"><%="##{reign.id} - "%></div>
        <div class="top-name">
          <% if reign.user.gender == 'male' %>
          King
          <% elsif reign.user.gender == 'female' %>
          Queen
          <% else %>
          Monarch
          <% end %>
          <%= "#{reign.user.first_name}"%>
        </div>
      </div>
      <div class="rank-bottom">
        <div class="reign-dates">
          <%="From #{reign.created_at.to_formatted_s(:long_ordinal)}"%>
          <% unless reign.finished == nil%>
            <%="until #{reign.finished.to_formatted_s(:long_ordinal)} (GMT)" %>
          <% end %>
        </div>
        <div class="reign-duration">
          <% if reign.finished == nil %>
          <div class="current-reign-duration">
            still on
          </div>
          <%else%>
            <img src="assets/clock.png" class="history-icon" alt=""/>
            <%="#{humanize(reign.duration)}"%>
          <% end %>
        </div>
        <div class="reign-weapon">
          <img src="assets/sword.png" class="history-icon" alt="" />
          <%="#{reign.weapon}"%>
        </div>
      </div>
    </div>
</div>
