<div class="kingdom-history">
  <h2 class="history-title">The history of the Kingdom of the Hill</h2>
  <h3 class="history-subtitle">All reigns in reverse chronological order</h3>
  <div class="reigns">
    <% @reigns.to_enum.with_index.reverse_each do |reign, index| %>
      <div class="monarch-container">
        <span class="index"> <%= "#{index +1}." %> </span>
        <% monarch = User.find(reign.user_id) %>
        <span class="appellation">
          <% if monarch.gender == 'male' %>
          King
          <% elsif monarch.gender == 'female' %>
          Queen
          <% else %>
          Monarch
          <% end %>
          <%= "#{monarch.first_name}"%>
        </span>
        <span class="reign-dates">
        <%="from #{reign.created_at.to_formatted_s(:long_ordinal)}"%>
        <% unless reign.finished == nil%>
          <%="until #{reign.finished.to_formatted_s(:long_ordinal)} (GMT)" %>
        <% end %>
        </span>

        <span class="reign-duration">
          <% unless reign.finished == nil %>
            <%="#{humanize(reign.duration)}"%>
          <% end %>
        </span>

        <span class="reign-weapon">
            <%="#{reign.weapon}"%>
        </span>


      </div>
      <hr>
    <% end %>
  </div>
</div>
