<!DOCTYPE html>
<html>
  <head>
    <title>Newhill</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, id: key, style: "color: red;"%>
    <% end %>

    <h1>The Kingdom of the Hill</h1>


    <%= yield %>

      <% if current_user %>
        <%= link_to "Sign out", signout_path %>
      <% else %>
        <%= link_to "Sign in with Facebook to rule over The Hill", "/auth/facebook" %>
      <% end %>

      <div class="top-ten-rulers">
      Top 10 monarchs
        <ol>
          <% top_ten_monarchs.each do |monarch| %>
            <li>
              <%= "#{monarch.title} #{monarch.first_name}: #{humanize(monarch.total_reign)}" %>
            </li>
          <% end %>
        </ol>
      </div>


      <% unless current_page?('/reigns') %>
        <div class="top-ten-reigns">
        Top 10 reigns
          <ol>
            <% top_ten_reigns.each do |reign| %>
              <% monarch = User.find(reign.user_id) %>
              <li>
                <%= "#{monarch.title} #{monarch.first_name}: #{humanize(reign.duration)}" %>
              </li>
            <% end %>
          </ol>
        </div>

        <p>
          <%= link_to "History of all reigns of The Hill", "/reigns" %>
        </p>
      <% end %>

  </body>
</html>
