<!DOCTYPE html>
<html>
  <head>
    <title>The Kingdom of The Hill</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900italic,700italic,400italic,300italic,100italic,900,700,300,100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P|Lemon|Kavoon|Poiret+One|Comfortaa|Lato|Ubuntu|Oxygen|Asap' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Patua+One|Sigmar+One|Chewy|Bevan|Luckiest+Guy|Fugaz+One|Carter+One|Slackey|Bowlby+One+SC|Finger+Paint|Titan+One|Kavoon|Londrina+Outline' rel='stylesheet' type='text/css'>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>

    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, id: key, style: "color: red;"%>
    <% end %>

    <img class="cloud cloud-1" src="/assets/cloud1" alt="cloud" />
    <img class="cloud cloud-2" src="/assets/cloud2" alt="cloud" />
    <img class="cloud cloud-3" src="/assets/cloud3" alt="cloud" />
    <img class="cloud cloud-4" src="/assets/cloud2" alt="cloud" />
    <img class= "hill-image" src="/assets/hill-with-castle-lighter.png" alt="The Hill" />

    <nav>
      <h1 class="kingdom-title"> <a href="<%="#{'/'}"%>">The Kingdom of the Hill</h1>
      <!-- <img src="/assets/facebook-circle.png" alt="facebook-page-link" /> -->
      <div class="nav-links">
        <% if current_page?('/reigns') %>
          <div class="link link-1"><%= link_to "Back to the Kingdom of the Hill", '/' %></div>
        <%else%>
          <div class="link link-1"><%= link_to "History of all reigns of The Hill", "/reigns" %></div>
        <% end %>

        <% if current_user %>
          <div class="link link-2"><%= link_to "Sign out", signout_path %></div>
        <% end %>
      </div>
    </nav>

    <% unless current_page?('/reigns') %>
      <div class="current-reign-decl page-top">
        <div class="decl-top">
          <div class="decl-line-1">
            <div class="row">
            <div class="col-xs-12">
              <img class="crown crown-left" src="/assets/crown.png" alt="crown" />

              <h2 class="monarch-decl">
                <%= "#{current_monarch.title} #{current_monarch.first_name}" %>
              </h2>

              <img class="crown crown-right" src="/assets/crown.png" alt="crown" />
            </div>
          </div>

        </div>
          <h2 class="rule-decl">is ruling over the hill!</h2>
        </div>

        <div class="decl-bottom">
            <img class="monarch-picture" src="<%=current_monarch.picture%>" alt="current monarch" />
              <p class="reign-number "> <%= "Reign # #{current_reign.id} "%></p>
            <span class="created_at"><%= "#{current_reign.created_at.to_f}"%></span>
            <div class="timer"></div>
            <p class="previous-ruler">Previous ruler: <span class="very-highlight"><%= (User.find((Reign.find(current_reign.id-1)).user_id)).first_name %></span>, defeated with: <span class="very-highlight"><i><%=current_reign.weapon%></i></span></p>
        </div>
      </div>

    <% end %>

    <%= yield %>


  <% unless current_page?('/reigns') %>
  <div class="top-ten-container">
    <div class="hp-title">
      <img src="/assets/trophy.png" class="top-icon crown-left" alt="" />
      <h3 class="h3-title">Top 10 monarchs</h3>
      <img src="/assets/trophy.png" class="top-icon crown-right" alt="" />
    </div>


      <div class="top-tenz">
          <div class="top-ten by-reign-number">
          <p class="top-subtitle">By number of reigns</p>
              <% top_ten_by_reign_number.each_with_index do |monarch, index| %>
                <div class="top-li back-color1">
                  <img class="top-monarch-picture" src="<%=monarch.picture%>" alt="picture of top monarch" />
                  <div class="rank-info info-top">
                    <div class="rank-top">
                      <div class="top-index"><%="##{(index+1)} - "%></div>
                      <% reigns = Reign.where.not(finished: nil).where(user_id: monarch.id) %>
                      <div class="top-name"><%= "#{monarch.title} #{monarch.first_name}"%></div>
                    </div>
                    <div class="rank-bottom">
                      <%= "#{reigns.length} reigns" %>
                    </div>
                  </div>
                </div>
                <br>
                <% end %>
          </div>

          <div class="top-ten by-duration">
          <p class="top-subtitle">By total time ruled over the hill</p>
              <% top_ten_by_duration.each_with_index do |monarch, index| %>
              <div class="top-li back-color2">
                <img class="top-monarch-picture" src="<%=monarch.picture%>" alt="picture of top monarch" />
                <div class="rank-info info-top">
                  <div class="rank-top">
                    <div class="top-index"><%="##{(index+1)} - "%></div>
                    <div class="top-name"><%= "#{monarch.title} #{monarch.first_name}"%></div>
                  </div>
                <div class="rank-bottom">
                  <%="#{humanize(monarch.total_reign)}" %>
                </div>
                </div>
              </div>
              <br>
              <% end %>
          </div>

      </div>

    </div>
  <% end %>



  </body>
</html>
