<!DOCTYPE html>
<html>
  <head>
    <title>The Kingdom of The Hill</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900italic,700italic,400italic,300italic,100italic,900,700,300,100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P|Lemon|Kavoon|Poiret+One|Comfortaa|Lato|Ubuntu|Oxygen|Asap' rel='stylesheet' type='text/css'>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  </head>

  <body>
    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, id: key, style: "color: red;"%>
    <% end %>

    <img class="cloud cloud-1" src="/assets/cloud1" alt="cloud" />
    <img class="cloud cloud-2" src="/assets/cloud2" alt="cloud" />
    <img class="cloud cloud-3" src="/assets/cloud3" alt="cloud" />
    <img class= "hill-image" src="/assets/blue-background-hill.png" alt="The Hill" />

    <nav>
      <h1 class="kingdom-title">The Kingdom of the Hill</h1>
      <div class="nav-links">
        <% if current_page?('/reigns') %>
          <span class="link-1"><%= link_to "Back to the Kingdom of the Hill", '/' %></span>
        <%else%>
          <span class="link-1"><%= link_to "History of all reigns of The Hill", "/reigns" %></span>
        <% end %>

        <% if current_user %>
          <span class="link-2"><%= link_to "Sign out", signout_path %></span>
        <% end %>
      </div>
    </nav>

    <% unless current_page?('/reigns') %>
      <div class="current-reign-decl">
        <div class="decl-top">
          <div class="decl-line-1">
            <img class="crown" src="/assets/crown.png" alt="crown" />
            <h2 class="monarch-decl">
              <%= "#{current_monarch.title} #{current_monarch.first_name}" %>
            </h2>
            <img class="crown" src="/assets/crown.png" alt="crown" />
          </div>
          <h2 class="rule-decl">is ruling over the hill!</h2>
        </div>

        <div class="decl-bottom ">
            <img class="monarch-picture" src="<%=current_monarch.picture%>" alt="current monarch" />
              <p class="reign-number "> <%= "Reign # #{current_reign.id} "%></p>
            <span class="created_at"><%= "#{current_reign.created_at.to_f}"%></span>
            <div class="timer"></div>
            <p class="previous-ruler">Previous ruler: <%= (User.find((Reign.find(current_reign.id-1)).user_id)).first_name %></p>
        </div>
      </div>

    <% end %>

    <%= yield %>

  <% unless current_page?('/reigns') %>
  <div class="top-ten-container">
    <h3 class="h3-top">Top 10 monarchs</h3>
        <div class="top-ten by-reign-number">
        <p class="top-subtitle">By number of reigns</p>
          <ol>
            <% top_ten_by_reign_number.each do |monarch| %>
              <li>
                <% reigns = Reign.where.not(finished: nil).where(user_id: monarch.id) %>
                <%= "#{monarch.title} #{monarch.first_name}: #{reigns.length} reigns" %>
              </li>
            <% end %>
          </ol>
        </div>

        <div class="top-ten by-duration">
        <p class="top-subtitle">By total time ruled over the hill</p>
          <ol>
            <% top_ten_by_duration.each_with_index do |monarch, index| %>
            <%if monarch.picture == nil %>

            <p class="replace-picture">yoyoyoy</p>
            <%else%><img class="top-monarch-picture" src="<%=monarch.picture%>" alt="picture of top monarch" /><%end%><li class="top-li">
                <%= "#{index+1}: #{monarch.title} #{monarch.first_name}: #{humanize(monarch.total_reign)}" %>

              </li>
              <br>
            <% end %>
          </ol>
        </div>

    </div>
  <% end %>

  </body>
</html>
