<!DOCTYPE html>
<html>
  <head>
    <title>Newhill</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, id: key, style: "color: red;"%>
    <% end %>

    <h1>Welcome to the Kingdom of the Hill</h1>


    <%= yield %>

    <% if current_user %>
      <%= link_to "Sign out", signout_path %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook" %>
    <% end %>
  </body>
</html>
