<!DOCTYPE html>
<html>
  <head>
    <title>Newhill</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P|Lemon|Kavoon|Poiret+One|Comfortaa|Lato|Ubuntu|Oxygen|Asap' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, id: key, style: "color: red;"%>
    <% end %>

    <img class="cloud cloud-1" src="/assets/cloud1" alt="cloud" />
    <img class="cloud cloud-2" src="/assets/cloud2" alt="cloud" />
    <img class="cloud cloud-3" src="/assets/cloud3" alt="cloud" />

    <img class= "hill-image" src="/assets/hill.png" alt="The Hill" />

    <h1 class="kingdom-title">The Kingdom of the Hill</h1>
    <% if current_page?('/reigns') %>
    <%= link_to "Back to the Kingdom of the Hill", '/' %>
    <%else%>
      <p><%= link_to "History of all reigns of The Hill", "/reigns" %></p>
    <% end %>

    <% if current_user %>
      <%= link_to "Sign out", signout_path %>
    <% else %>
      <%= link_to "Sign in with Facebook to rule over The Hill", "/auth/facebook" %>
    <% end %>


    <%= yield %>

<% unless current_page?('/reigns') %>
<div class="top-ten-container">
  <h3 class="h3-top">Top 10 monarchs</h3>
      <div class="top-ten by-reign-number">
      <p>By number of reigns</p>
        <ol>
          <% top_ten_by_reign_number.each do |monarch| %>
            <li>
              <% reigns = Reign.where.not(finished: nil).where(user_id: monarch.id) %>
              <%= "#{monarch.title} #{monarch.first_name}: #{reigns.length} reigns" %>
            </li>
          <% end %>
        </ol>
      </div>

      <div class="top-ten by-duration">
      <p>By total time ruled over the hill</p>
        <ol>
          <% top_ten_by_duration.each do |monarch| %>
            <li>
              <%= "#{monarch.title} #{monarch.first_name}: #{humanize(monarch.total_reign)}" %>
            </li>
          <% end %>
        </ol>
      </div>

        <!-- <div class="top-ten-reigns">
        <% unless current_page?('/reigns') %>
        <h3>Top 10 individual reigns</h3>
          <p>by duration </p>
          <ol>
            <% top_ten_reigns.each do |reign| %>
              <% monarch = User.find(reign.user_id) %>
              <li>
                <%= "#{monarch.title} #{monarch.first_name}: #{humanize(reign.duration)}" %>
              </li>
            <% end %>
          </ol>
          <% end %>
        </div>   -->
  </div>
<% end %>

  </body>
</html>
